<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OPENAI_API_KEY" value="" />
		<add key="OPENAI_ENDPOINT_NAME" value="" />
		<add key="OPENAI_DEPLOYMENT_NAME" value="" />
		<add key="SPX_API_KEY" value=""/>
		<add key="SPX_REGION" value=""/>
	</appSettings>
</configuration>